@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #007bff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.avatar {
    width: 3%;
    height: 3%;
    border-radius: 50%;
    border: 1px solid ;
}


