<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:fragment="header"
        class="lg:hidden flex items-center justify-between px-4 py-3 bg-white border-b border-gray-100 shadow-sm">
    >
    <button onclick="openSidebar()" class="p-2 rounded-lg hover:bg-gray-100 transition">
        <svg class="w-5 h-5 text-gray-600" fill="none" stroke="currentColor" stroke-width="2"
             viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"/>
        </svg>
    </button>
    <span class="text-base text-violet-700" style="font-weight:700">NRW Admin</span>
    <div class="w-9"></div>
</header>



</body>
</html>