server:
  port: 9000
spring:
  application:
    name: SE2
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: 123456
    url: jdbc:mysql://localhost:3306/se2?createDatabaseIfNotExist=true
    username: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: email
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            scope:
              - email
              - user
  mail:
    host: smtp.gmail.com
    port: 587
    username: Tranhunghp22112004@gmail.com
    password: xlewrwnkolwikvmp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true





