<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_authLayout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div layout:fragment="content" class="d-flex justify-content-center align-items-center flex-column w-100">

    <!-- Pills content -->
    <div class="tab-content">
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
            <form th:action="@{/login}" method="post" th:object="${loginRequest}" class="border p-5 w-100 rounded">
                <div class="text-center mb-3">
                    <p>Sign in with:</p>
                    <a th:href="@{/oauth2/authorization/github}" type="button" data-mdb-button-init data-mdb-ripple-init
                       class="btn btn-outline-primary btn-floating mx-1 rounded-circle">
                        <i class="bi bi-github"></i>
                    </a>

                    <a th:href="@{/oauth2/authorization/google}" type="button" data-mdb-button-init data-mdb-ripple-init
                       class="btn  btn-outline-danger rounded-circle btn-floating mx-1">
                        <i class="bi bi-google"></i>
                    </a>
                </div>

                <p class="text-center">or:</p>

                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="loginEmail">Email: </label>
                    <input type="email" id="loginEmail" class="form-control" th:field="*{email}"
                           autocomplete="new-email" placeholder="Enter email"/>
                    <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

                </div>

                <!-- Password input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="loginPassword">Password: </label>
                    <input type="password" id="loginPassword" class="form-control" th:field="*{password}"
                           autocomplete="new-password" placeholder="Enter password"/>
                    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

                </div>

                <!-- 2 column grid layout -->
                <div class="row mb-4">
                    <div class="col-md-6 d-flex justify-content-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-3 mb-md-0">
                            <input class="form-check-input" type="checkbox" value="true" id="loginCheck"
                                   name="remember-me"/>
                            <label class="form-check-label" for="loginCheck"> Remember me </label>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex justify-content-center">
                        <!-- Simple link -->
                        <a href="#">Forgot password?</a>
                    </div>
                </div>

                <!-- Submit button -->
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <button type="submit" class="btn btn-primary w-100">Sign in</button>
                </div>

                <!-- Register buttons -->
                <div class="text-center">
                    <p>Not a member? <a href="/register">Register</a></p>
                </div>
            </form>
        </div>
    </div>
    <!-- Pills content -->
</div>
</body>
</html>