<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_authLayout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="d-flex justify-content-center align-items-center flex-column " layout:fragment="content">
    <div class="tab-pane show active" id="pills-register">
        <form th:action="@{/register}" method="post" class="border px-5 py-3.5 rounded w-[22rem]" th:object="${registerRequest}" id="registerForm">
            <div class="text-center mb-2">
                <p class="mb-3">Sign up with:</p>
                <a th:href="@{/oauth2/authorization/github}" type="button" data-mdb-button-init data-mdb-ripple-init
                   class="btn btn-outline-primary btn-floating mx-1 rounded-circle">
                    <i class="bi bi-github"></i>
                </a>

                <a th:href="@{/oauth2/authorization/google}" type="button" data-mdb-button-init data-mdb-ripple-init
                   class="btn  btn-outline-danger rounded-circle btn-floating mx-1">
                    <i class="bi bi-google"></i>
                </a>

            </div>

            <p class="text-center">or:</p>

            <div class="form-outline mb-4">
                <label class="form-label" for="registerEmail">Email</label>
                <input type="email" id="registerEmail" class="form-control" autocomplete="new-email"
                       placeholder="Enter email..." th:field="*{email}"/>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-red-400"></span>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="registerPassword">Password</label>
                <input type="password" id="registerPassword" class="form-control" autocomplete="new-password"
                       placeholder="Enter password..." th:field="*{password}"/>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-red-400"></span>
            </div>



            <div class="text-center mb-2">
                <p>Already a member? <a href="/login">Login</a></p>
            </div>

            <!-- Submit button -->
            <button type="submit" data-mdb-button-init data-mdb-ripple-init
                    class="btn btn-primary btn-block mb-3 w-100">Sign in
            </button>
        </form>
    </div>
</div>

</body>
</html>