<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_adminLayout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div layout:fragment="content" class="d-flex justify-content-center align-items-center flex-column w-100">
    <div class="container ">
        <h2 class="text-center">Book List</h2>

        <div class="d-flex justify-content-between align-items-center">
            <div class="input-group mb-3 w-25">
                <input type="text" class="form-control" placeholder="Enter keywords..."
                       aria-label="Recipient’s username" aria-describedby="button-addon2">
                <button class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
            </div>
            <div class="d-flex align-items-center gap-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>

        <table class="table table-sm table-striped table-hover table-responsive">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">Author</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <th th:text="${book.id}">1</th>
                <td th:text="${book.title}"></td>
                <td class="w-25">
                    <img src="logo" th:src="@{/files/{filename}(filename=${book.image})}" class="w-25">
                </td>
                <td th:text="${book.description}"></td>
                <td th:text="${book.author}"></td>
            </tr>

            </tbody>
        </table>

        <nav aria-label="Page navigation example ">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>